{% extends 'AppCoder/base.html' %}

{% block title %}Autores{% endblock title %}

{% block content_title %}
<style>
    .titulo-fondo {
        background-image: url("https://blog.pearsonlatam.com/hs-fs/hubfs/Blog%20HED/Multimedia/Im%C3%A1genes%20de%20Blog/beneficios-de-las-bibliotecas-virtuales-lectura-dinamica.jpg?width=800&name=beneficios-de-las-bibliotecas-virtuales-lectura-dinamica.jpg");
        background-size: cover;
        background-position: center;
        padding: 80px 20px;
        border-radius: 15px;
        text-align: center;
        color: rgb(12, 12, 12);
        text-shadow: 2px 2px 6px rgba(149, 143, 143, 0.7);
        font-size: 4rem;
        font-style: italic;
        font-weight: bold;
    }
</style>
<div class="titulo-fondo">
    Autores
</div>
{% endblock content_title %}

{% block content %}
<h1>Formulario para crear un autor</h1>
<form method="post">
    {% csrf_token %}
    <table>
        {{form.as_table}}
    </table>
    <input type="submit" value="Enviar">
    <a href="{% url 'index' %}">Cancelar</a>
</form>
{% endblock content %} 