{% extends 'AppCoder/base.html' %}

{% block title %}Eliminar Libro{% endblock title %}
{% block content_title %}
<div class="titulo-fondo">
    ¿Eliminar {{ libro.titulo }}?
</div>
{% endblock content_title %}

{% block content %}
<div class="alert alert-danger text-center">
    <p>¿Estás segura que querés eliminar el libro <strong>{{ libro.titulo }}</strong>?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a href="{% url 'buscar_biblioteca' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}