{% extends 'AppCoder/base.html' %}

{% block title %}Libros{% endblock title %}

{% block content_title %}
<style>
    .titulo-fondo {
        background-image: url("https://blog.pearsonlatam.com/hs-fs/hubfs/Blog%20HED/Multimedia/Im%C3%A1genes%20de%20Blog/beneficios-de-las-bibliotecas-virtuales-lectura-dinamica.jpg?width=800&name=beneficios-de-las-bibliotecas-virtuales-lectura-dinamica.jpg");
        background-size: cover;
        background-position: center;
        padding: 80px 20px;
        border-radius: 15px;
        text-align: center;
        color: rgb(12, 12, 12);
        text-shadow: 2px 2px 6px rgba(149, 143, 143, 0.7);
        font-size: 4rem;
        font-style: italic;
        font-weight: bold;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        gap: 3px;
        width: 300px;
    }
</style>
<div class="titulo-fondo">
    Libros
</div>
{% endblock content_title %}

{% block content %}
<h1>Formulario para crear un Libro</h1>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="{{ form.titulo.id_for_label }}">Titulo:</label>
        {{ form.titulo }}<br>
        <label for="{{ form.autor.id_for_label }}">Autor:</label>
        {{ form.autor}}<br>
        <label for="{{ form.genero.id_for_label }}">Genero:</label>
        {{ form.genero }}<br>
        <label for="{{ form.fecha_publicacion.id_for_label }}">Fecha de Publicacion:</label>
        {{ form.fecha_publicacion }}<br>
        <label for="{{ form.isbn.id_for_label }}">ISBN:</label>
        {{ form.isbn }}<br>
        <label for="{{ form.resumen.id_for_label }}">Resumen:</label>
        {{ form.resumen }}<br>
    </div>
    
    {% if form.fecha_publicacion.errors %}
    <div style="color:red;">
        {{ form.fecha_publicacion.errors }}
    </div>
    {% endif %}

    {% if form.non_field_errors %}
        <div style="color:red;">
            {{ form.non_field_errors }}
        </div>
    {% endif %}


    <input type="submit" value="Enviar">
    <button style="background-color: red;" type="reset">Cancelar</button>
{% endblock content %}